__pycache__
.idea
.DS_Store
venv
.venv

settings.json

api/secrets

pipelines/*.json
!pipelines/config.json

pipelines/config/*.json
!pipelines/config/android-example.json
!pipelines/config/ios-example.json

pipelines/schemas/organisations.json
